<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Met Breakfast</title>
		<link rel="stylesheet" href="static/style.css" />
	</head>
	<body>
		<div class="container">
			<h1>Met Breakfast</h1>
			<h3>A morning blend of essentials</h3>
			<div id="skewT">
				<div class="loading-msg">
					<img src="static/img/bars-scale-middle.svg" alt="spinner" class="spinner" />
					<span>Loading Chart</span>
				</div>
			</div>
			<div class="loading-msg">
				<img src="static/img/bars-scale-middle.svg" alt="spinner" class="spinner" />
				<span>Loading Chart</span>
			</div>
		</div>
		<script src="static/script.js"></script>
	</body>
</html>
