<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Met Breakfast</title>
		<link rel="stylesheet" href="static/style.css" />
	</head>
	<body>
		<div class="container">
			<h1>Met Breakfast</h1>
			<h3>A morning blend of essentials</h3>
			<div class="date-details">
				<div>Volume 9... No. 1,302</div>
				<div id="current-date"></div>
				<div>25 CENTS</div>
			</div>
			<div class="main-content">
				<div class="left-col">
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam assumenda
						nostrum ipsa ad ullam cupiditate quas alias placeat voluptates sapiente
						dolorem eligendi reiciendis voluptatem delectus, quia voluptas eaque dolor
						labore non veniam officia qui quis saepe! Minima tempora minus asperiores
						sapiente possimus vitae ab maxime, ducimus deserunt aliquid, quia, suscipit
						similique exercitationem sit? Qui quidem natus repellat est vel adipisci
						enim illum inventore consectetur pariatur. Eum reprehenderit dolore
						laudantium voluptates, hic, ut atque nihil sed ipsum soluta quisquam?
						Voluptatem assumenda consequuntur, cum sed quo perspiciatis neque est ullam
						quidem velit culpa, nostrum eum omnis rerum repudiandae modi quos quas
						numquam?
					</p>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam assumenda
						nostrum ipsa ad ullam cupiditate quas alias placeat voluptates sapiente
						dolorem eligendi reiciendis voluptatem delectus, quia voluptas eaque dolor
						labore non veniam officia qui quis saepe! Minima tempora minus asperiores
						sapiente possimus vitae ab maxime, ducimus deserunt aliquid, quia, suscipit
						similique exercitationem sit? Qui quidem natus repellat est vel adipisci
						enim illum?
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et debitis a
						repellat doloremque exercitationem vitae facere culpa voluptatem fuga
						expedita natus deserunt excepturi ut iste mollitia officiis dicta blanditiis
						qui nostrum, nemo molestias vero. Ex assumenda dolores beatae autem culpa.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem error
						reiciendis velit ipsa nesciunt aliquid harum asperiores, explicabo nam, nisi
						a placeat minima.
					</p>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
						laudantium consequatur quos sed ea, aperiam aliquid. Suscipit sit voluptates
						reprehenderit corrupti earum illum quidem ipsam officia tempore molestiae
						placeat, non excepturi alias rem obcaecati enim doloremque ut ab illo sint
						sapiente! Commodi esse natus fugit odio praesentium dolorem quaerat porro
						temporibus impedit in eveniet maiores consequatur asperiores quae inventore
						iusto facilis, nesciunt sequi iste quibusdam id? Quaerat libero quis
						debitis!
					</p>
					<p>
						Vel ipsam natus tenetur corrupti saepe eum quaerat! Amet nulla animi
						dignissimos sequi sit quia maxime qui nesciunt dolorem deserunt repellendus
						delectus libero dolorum, officia vero reprehenderit. Quis sit iusto unde
						minima soluta sed dolores quidem qui commodi iste amet aspernatur a atque
						libero necessitatibus repellendus sapiente, aut laudantium excepturi tenetur
						similique velit ducimus officiis. Minus repellat rerum velit, tenetur, unde
						laborum illum, voluptate dicta molestiae repellendus aliquid alias suscipit!
					</p>
					<p>
						Quia ullam aspernatur eligendi labore distinctio et dolores obcaecati
						assumenda nam quidem quibusdam non odio mollitia eos, vel blanditiis ipsam
						saepe, quasi error fuga. Est, voluptate voluptatibus.
					</p>
					<p>
						Necessitatibus similique asperiores molestiae id, quos sit sapiente itaque
						corrupti accusamus harum dignissimos perferendis! Ad eum sapiente, quod
						provident fuga officiis quo aliquam, voluptate nihil repellendus voluptates
						animi id ea nulla fugit praesentium ducimus enim inventore, corporis
						expedita! Ullam, voluptatum, reprehenderit officiis nobis mollitia nulla,
						alias quos nesciunt est magnam fugit facilis fuga delectus temporibus aut
						animi! Totam numquam unde nemo perspiciatis debitis fuga odit ducimus
						provident quod?
					</p>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto vel facilis
						facere!
					</p>
				</div>
				<div class="right-col">
					<div class="col-2">
						<div class="w-35 mr1">
							<h4>Monsoon Rains Impact the State. Onlookers Rejoice.</h4>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta natus
								vel sint corporis ducimus dolores debitis! Nobis facilis architecto
								repellat illum iste
							</p>
							<p>Earum ad eum obcaecativel.</p>
							<p>
								Impedit error eveniet fugiat cum. Suscipit id dolor est, deserunt
								odio ad nihil!
							</p>
							<p>
								Quam voluptatem beatae itaque odit molestiae magnam, ab quidem animi
								quos asperiores corporis explicabo et inventore iste iure facere
								est! Lorem ipsum dolor sit amet consectetur adipisicing elit.
							</p>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
						</div>
						<div class="w-65 ml1">
							<img
								src="https://cals.arizona.edu/climate/misc/monsoon/AZ_Monsoon_LatestDay.png"
								alt="24-hour rainfall"
							/>
						</div>
					</div>
					<div class="col-2">
						<div id="skewT" class="mr1 w-75">
							<div class="loading-msg">
								<img
									src="static/img/bars-scale-middle.svg"
									alt="spinner"
									class="spinner"
								/>
								<span>Loading Chart</span>
							</div>
						</div>
						<div class="ml1 w-25">
							<h4>In Skew-T We Trust</h4>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam nemo
								dolorem possimus eos voluptatum nulla ipsa fugit veritatis. Eius
								quas, porro aut doloremque laudantium autem?
							</p>
							<p>
								Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident
								sint tempore culpa omnis quibusdam eligendi aperiam, eos quidem
								adipisci pariatur aut autem repellendus rem nesciunt? Corporis
								nesciunt id, earum modi hic ea a?
							</p>
						</div>
					</div>
					<h4>GFS Horoscopes</h4>
					<!-- <div class="fcst-container">
						<label for="gfsFcstRange">Select Forecast Time:</label>
						<input
							type="range"
							name="gfsFcstRange"
							id="gfsFcstRange"
							min="0"
							max="3"
							value="0"
						/>
					</div> -->
					<div id="four_panel">
						<div class="loading-msg">
							<img
								src="static/img/bars-scale-middle.svg"
								alt="spinner"
								class="spinner"
							/>
							<span>Loading Chart</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="static/script.js"></script>
	</body>
</html>
